body{background:url('body_bg.jpg') no-repeat fixed center top}

.appnav{
    filter:alpha(opacity=20); /* IE 透明度20% */
    -moz-opacity:0.8; /* Moz + FF 透明度20%*/
    opacity: 0.8; /* 支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
}

/*头部导航*/
.header {
    background: #fff;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 5px #ccc;
    padding: 0rem 1.6rem;
}

